<nav style="background-color: #fefae0;" class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand" href="#">ToDo</a>



  <ul class="navbar-nav ">
    <li class="nav-item active">
      <a class="nav-link" *ngIf='hardcodedAuth.isUserLoggedIn()' routerLink="/welcome/Moiz">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf='hardcodedAuth.isUserLoggedIn()' routerLink="/todos">Todos</a>
    </li>
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li class="nav-item">
      <a class="nav-link" *ngIf='!hardcodedAuth.isUserLoggedIn()' routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf='hardcodedAuth.isUserLoggedIn()' routerLink="/logout">Logout</a>
    </li>
  </ul>
</nav>
