<div class="container">
  <br>
  <h1>Welcome!</h1>
  <br>
  Welcome {{name}}. Welcome to our awesome App.
  <br>
  You can Manage your tasks <a routerLink="/todos">here</a>

</div>


<br><br>
<div class="container">
  <h6>Click here to get customized Welcome message</h6>
  <button (click)="getWelcomeMessageWithPathVariable()" class="btn btn-primary"> Get Message</button>
</div>

<br><br>
<div class="container" *ngIf="welcomeMsg">
  <h6>Your customized Welcome message</h6>
  <h2>{{welcomeMsg}}</h2>

</div>
